
.feedcard {
    padding: 10px;
    width: 240px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 10px 5px 10px 5px #eee;
    margin-left: 10px;
    margin-right:10px ;


}

.feedcard__img {
    height: 100px;
    object-fit: cover;

}

.feedcard__link{
    text-decoration: none;
    color: #000;
}

.feedcard__text {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

.feedcard:hover {
    transform: scale(1.09);
}

@media only screen and (max-width: 768px) {
    .feedcard {
        padding: 10px;
        width: 90px;
        height: 100px;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px ;
    }

    .feedcard__img {
        height: 60px;
        object-fit: contain;
    }
    
    .feedcard__text {
        font-size: 15px;
        letter-spacing: 0px;
    }
}