 .newfeedcomp {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 17%;
    margin-top: 5%;
}

.newfeedcomp__form{
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .newfeedcomp {
        width: 100%;
        height: 80vh;
        margin-left: 0%;
    }
} 