.newfeedcomp {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.newfeedcomp__form {
    width: 45vw;
    height: 30vh;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 5px 10px 5px #eee;

}