.userfeed__container {
    height: 100%; 
    /* width: 100%; */
    margin-top: 30px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
}

.userfeed__body {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.userfeed__top__avatar-div {
    display: none;
}

.userfeed__top h4 {
    font-size: 1.9em;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;

}

.userfeed__top p {
    font-size: 13px;
    opacity: 0.5;
    font-family: 'Quicksand', sans-serif;
  
}


.userfeed__top__cards {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
   
}

.feed__error__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.feed__error__img {
    width: 30vw;
    object-fit: contain;
    opacity: 0.9;
}

.feed__error__text {
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0.6;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;


}

.empty__skeleton {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

@media only screen and (max-width: 768px) {
    .userfeed__container{
        height: 100%; 
        width: 100%;
        margin-top: 0px;
        margin-left: 0%;
        padding: 10px;
        
    }

    .userfeed__top__avatar-div {
        display: block;
    }

    .userfeed__top__avatar {
        width: 40px;
        border-radius: 7px;
        margin-right: 20px;
    }

    .userfeed__top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .userfeed__top h4 {
        font-size: 1.3em;
    }

    .userfeed__top__cards {
        width: 90%;
        justify-content: space-between;
        overflow-x: scroll;
    }

    .userfeed__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userfeed__trending {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .userfeed__container {
        height: 100%; 
        margin-top: 0px;
        margin-left: 0%;
        padding: 10px;
        width: 100%;
    }

    .userfeed__top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .userfeed__top__avatar-div {
        display: block;
    }

    .userfeed__top__avatar {
        width: 60px;
        border-radius: 7px;
        margin-right: 20px;
    }

    .userfeed__top__cards {
        width: 90%;
        justify-content: space-between;
        overflow-x: scroll;
    }

    .userfeed__body {
        width: 90%;
        display: flex;
        flex-direction: row;
    }
}