.chatboard {
    position: relative;
    left: 17%;
    width: 82%;
}

.chatboard__top {
    height: 60px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 'Quicksand', sans-serif;

}

.chatboard__header {
    font-size: 1.7rem;
    font-weight: 500;
}

.chatboard__header__icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.chatboard__header__icon:hover {
    transform: scale(1.05);
}

.chatboard__footer {
    display: flex;
    flex-direction: row;
    width:80%;
    position: fixed;
    bottom: 20px;
}

.chatboard__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.chatboard__input {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.268);
    border-radius: 5px;
    outline: none;
}

.chatboard__input:focus-within {
    border: 1px solid rgba(137, 43, 226, 0.583);
}

.chatboard__button {
    padding: 10px;
    cursor: pointer;
    background-color: blueviolet;
    color: #000;
    border: rgba(0, 0, 0, 0.522) 1px solid;
    font-size: 17px;
    border-radius: 999px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.chatboard__button-disabled {
    opacity: 0.3;
    padding: 7px;
    cursor: pointer;
    background-color: blueviolet;
    color: #000;
    border: rgba(0, 0, 0, 0.522) 1px solid;
    font-size: 17px;
    border-radius: 999px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chatboard__button__icon{
    font-size: 1.5rem;
}

.chatboard__button:hover {
    transform: scale(1.07);
}

.chatboard__messages {
    height: 80vh;
    margin-bottom: 30px;
    overflow-x: scroll;
}

.bot__msg__span {
    background-color: rgba(232,145,45,.4);
    font-size: 16px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.556);
    /* color:rgba(var(--sk_secondary_highlight,242,199,68),1); */
}

@media only screen and (max-width: 768px) {
    .chatboard {
        left: 0%;
        width: 100%;
    }

    .chatboard__footer {
        display: flex;
        flex-direction: row;
        width:100%;
        position: fixed;
        bottom: 20px;
    }

    .chatboard__top {
        height: 20px;
        padding: 10px;
        background-color: rgba(60, 36, 60, 0.23);
       ;
        font-family: 'Quicksand', sans-serif;

    }

}

@media only screen and (max-width: 1024px) {
    .chatboard {
        left: 0%;
        width: 100%;
    }
    
    .chatboard__footer {
        display: flex;
        flex-direction: row;
        width:100%;
        position: fixed;
        bottom: 20px;
    }
} 