
.sidebar {
    display: flex;
    flex-direction: column;
    width:230px;
    height: 100vh;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 5px 10px 5px #eee;
    margin-right: 50px;
    z-index: 1;
    position: fixed;
    top: 0;
}