.trendingtable {
    height: 100%;
    width: 25vw;
    margin-left: 70px;
    margin-top: 30px;
    background-color: #fff;
    border-radius:7px;
    overflow-x: scroll;
    box-shadow: 10px 5px 10px 5px #eee;

}

.trendingtable__top{
    padding: 10px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.638);
}

.trendingtable__top h4 {
    font-size: 16px;
    opacity: 0.6;
    font-weight: 400;
}

@media only screen and (max-width: 1024px) {
    .trendingtable {
        height: 100%;
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
    }
}